<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    title Document
    style @import url("https://fonts.googleapis.com/css?family=Dosis")
  body
    div(id="container" style="position:relative;border:1px solid #116cb4;width:500px;height:200px;margin: 10px auto;")
      img(src=image, alt="user-image" width="180px" height="180px" style="float:left;margin:5px;border: 2px solid #116cb4;")
      h2(style="font-family: 'Dosis', sans-serif;") Name: #{name}
      h2(style="font-family: 'Dosis', sans-serif;") Company: #{company}