html(lang="en")
  head
    meta(charset="UTF-8")
    title Document
    style @import url("https://fonts.googleapis.com/css?family=Dosis")
  body
    div(id="container" style="position:relative;border:1px solid #fff;width:250px;height:120px;margin: 10px auto;")
      img(src=image, alt="user-image" width="100px" height="100px" style="border-radius:100%;float:left;margin:10px 10px 5px 5px;border: 2px solid #116cb4;")
      div(style="margin-top:10px;")
        p(style="font-family: 'Dosis', sans-serif;margin:0;padding:0;") #{name}
        p(style="font-family: 'Dosis', sans-serif;margin:0;padding:0;") #{company}
      img(src="/images/logo.clear.png", alt="intersys-logo", width="100px" height="18px" style="position: absolute; right: 0; bottom: 0;margin:5px;")