<div class="text-center col-md-12">
  <div class="jumbotron">
    <h1>Welcome to {your_company_title}.</h1>
    <p class="text-justify">Messenger bag migas gluten-free hoodie disrupt. Enamel pin hashtag single-origin coffee sartorial shoreditch messenger bag gluten-free mixtape mustache edison bulb before they sold out. Hot chicken vinyl waistcoat cray, cardigan lomo you probably haven't heard of them irony brooklyn. Cloud bread tumblr edison bulb af vegan, ennui raclette food truck flexitarian occupy jean shorts subway tile cray XOXO affogato.</p>
    <p><button ng-click="enterPicture()" class="btn btn-lg btn-primary" type="button">Start</button></p>
  </div>
  <br>
</div>